.add-user-modal {

    border-radius: 20px;

    border: none;

    padding: 10px;
}

.modal-title {

    font-size: 38px;

    font-weight: 800;

    color: #111;
}

.add-user-modal .form-label {

    font-size: 15px;

    font-weight: 600;

    color: #333;

    margin-bottom: 10px;
}

.add-user-modal .form-control,
.add-user-modal .form-select {

    height: 54px;

    border-radius: 10px;

    border: 1px solid #E2E5EC;
}

.password-wrapper {

    position: relative;
}


.eye-icon {

    position: absolute;

    left: 14px;

    top: 50%;

    transform: translateY(-50%);

    width: 18px;

    cursor: pointer;
}

.lock-icon {

    position: absolute;

    right: 14px;

    top: 50%;

    transform: translateY(-50%);

    width: 18px;
}

.password-wrapper input {

    padding-right: 42px;

    padding-left: 42px;
}

.save-user-btn {

    width: 285px;

    height: 50px;

    border: none;

    border-radius: 10px;

    background: #4C5AC7;

    color: white;

    font-weight: 700;
}


.form-switch .form-check-input {

    width: 50px;

    height: 26px;

    cursor: pointer;
}

.add-user-btn{
    background-color: #4755B5;
    color: #fff;
}

.btn.add-user-btn:hover {
    background-color: #3947A1;
    color: #fff;
}

.empty-state{
    text-align: center;
}

.modal-header{
        border-bottom: none;
    padding: 18px 20px 10px;
    display: flex;
    justify-content: space-between;
}